.current-fairityle {
  color: rgb(15, 12, 12);
  display: flex;
  margin: 0 auto;
  background: -webkit-linear-gradient(to right, #39630f, #ac805c);
  background: linear-gradient(to right, #39630f, #ac805c);
  width: 900px;
}

.faImg {
  width: 100px;
  height: 100px;
  border-radius: 45%;
}

.fairyinfo {
  width: 300px;
  font-weight: bold;
  text-align: center;
  border: 1px solid;
  padding: 9px;
  width: 1200px;
  height: 800px;
}

.fairityle {
  width: 100%;
  max-height: 100%;
  height: 500px;
  color: #dddddd;
  font-weight: lighter;
  line-height: 122%;
  overflow-y: scroll;
  padding: 8px;
}

.fairityle::-webkit-scrollbar {
  width: 10px;
  border: 1px solid;
  border-radius: 10px;
}

.fairityle::-webkit-scrollbar-thumb {
  background-color: rgb(27, 184, 56);
  border: 2px solid;
  border-radius: 15px;
}

.created-by {
  margin-top: 10px;
  font-size: 15px;
  color: white;
}

.fair-wrapper {
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 70%;
}

.fair-wrapper h4 {
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
  line-height: 40px;
}

.fairDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(14, 9, 9);
  height: 100px;
  width: fit-content;
  font-size: 13px;
  margin: 20px 0 0 20px;
}

.fairImg {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 10%;
}

.fair-info {
  margin: 0;
}

.backBtn {
  left: 240px;
  color: white;
  text-align: center;
  width: 50%;
  background: transparent;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid white;
  position: relative;
}

.backBtn:hover {
  background-color: #39630f;
  text-decoration: none;
  color: white;
}
